@import "../../style/variables.scss";

@keyframes blink {
    50% {
      opacity: 0;
    }
}

$color: $foreground-color;

.typewriter {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .typewriter-line {
        color: $color;

        font-family: lores-12, sans-serif;

        text-shadow:
            0 0 2px $color,
            0 0 12px $color;

        &::after {
            animation: blink 1s step-start 0s infinite;
            content: "\268A";
        }
    }
}
