// Breakpoints

$breakpoints: (
    small: 640px,
    medium: 768px,
    large: 1024px,
    xlarge: 1280px,
    xxlarge: 1440px,
);

// Colors

$color1: #0e0f10;
$color2: #5D6C75;
$color3: #FEFBEE;
$color4: #aff1fe;
$color5: #FA5C5C;

$background-color: $color1;
$border-color: $color2;
$foreground-color: $color3;
$link-color: $color4;
$header-color:$color2;
