@import "./variables";
@import "./mixins";

html {
    font-size: 18px;

    @include media-min(medium) {
        font-size: 21px;
    }
}

body {
    background-color: $background-color;

    color: $foreground-color;

    font-family: "Rokkitt", serif;
    font-weight: 300;

    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: $header-color;

    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

a {
    color: $link-color;

    text-decoration: none;
}
