// Colors

// $color1: #393D40;
$color1: #0e0f10;
$color2: #5D6C75;
$color3: #FEFBEE;
$color4: #56DBC7;
$color5: #FA5C5C;

$background-color: $color1;
$border-color: $color2;
$foreground-color: $color3;
$link-color: $color4;
$header-color:$color5;
