@import "../style/variables.scss";

#content {
    background-color: $background-color;

    display: grid;

    grid-template-rows: auto 100fr auto;

    overflow: hidden;

    margin: auto;
    padding: 0;

    width: 100%;
    min-height: 100vh;

    & > header {
        nav {
            display: grid;

            grid-template-rows: min-content 100fr;

            font-family: lores-12, sans-serif;

            width: 100vw;

            button {
                background-color: transparent;
                border: none;

                color: $color3;

                cursor: pointer;

                padding: 0;
            }

            & > .navbar {
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: space-between;

                padding: 1rem 1rem 0;

                & > h1 {
                    background-color: transparent;
                    font-family: lores-9-wide, sans-serif;
                    font-size: 2rem;
                    font-weight: 900;

                    margin: 0;

                    text-align: center;

                    transition: opacity 256ms ease-in-out;
                }
            }

            & > .navlinks {
                display: none;

                padding: 1rem 1rem 0;

                &.active {
                    display: grid;
                    grid-template-rows: min-content 100fr;
                }

                & > button {
                    position: absolute;
                    left: 1rem;
                    top: 1rem;

                    z-index: 2;
                }

                & > ul {
                    &#site-links {
                        background-color: $color2;
                    }
                    &#social-links {
                        background-color: $color5;
                    }

                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    font-size: 2rem;
                    font-weight: 900;

                    list-style: none;

                    padding: 0;
                    margin: 0;

                    position: absolute;
                    left: 0;
                    top: 0;
    
                    width: 100vw;
                    height: 100vh;

                    z-index: 1;

                    transition: background-color 256ms ease-in-out;

                    & > li > a {
                        color: $color3;
                        text-transform: uppercase;
                        &:hover {
                            text-shadow:
                                0 0 2px $color3,
                                0 0 12px $color3;
                        }
                    }
                }
            }
        }
    }

    & > footer {
        border-top: 1px solid $border-color;

        color: $color2;

        font-size: .75rem;

        padding: 1rem;
        padding-top: .25rem;
    }
}
